<div class="ui segment">
    <h4 class="ui dividing header">MailChimp</h4>
    {{ form_row(form.isMailChimpEnabled) }}
    {{ form_row(form.mailChimpListId) }}
    {{ form_row(form.isMailChimpListDoubleOptInEnabled) }}
</div>
