<div class="ui segment">
    <h4 class="ui dividing header">MailChimp</h4>
    {{ form_row(settings.form.isMailChimpEnabled) }}
    {{ form_row(settings.form.mailChimpListId) }}
    {{ form_row(settings.form.isMailChimpListDoubleOptInEnabled) }}
</div>
